#branch-logs{
  @extend .resize-container;
  .left-control-pane{
    width: $columnWidth;
    float: left;
    height: 100vh;
    background: $sidePanelColor;
  }

  .right-control-pane{
    width: calc(100% - #{$columnWidth});
    float: left;
    height: 100vh;
  }

  #branch-commits{
    @extend .undo-list;
    cursor: pointer;
    > li{
      padding: 0 10px;
    }
    .selected-commit{
      background: $selectionBg;
    }
  }

  #commit-logs{
    @extend .undo-list;
    .commit-log{
      @extend .resize-container;
      line-height: $rowHeight;
      text-align: left;
      background: $commitLogBgColor;
      margin-bottom: 1px;
      padding: 0 10px;

      .open-commit-log-link{
        float: left;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
      }

      .commit-log-action-handler{
        float: right;
        cursor: pointer;
      }

      &.status-success{
        color: $successColor;
      }

      &.status-failed{
        color: $errorColor;
      }
    }
  }

  #selected-commit-info{
    padding: 10px;

    .commit-field{
      @extend .resize-container;
      label, .commit-field-value{
        float: left;
      }
      label{
        width: $selected-commit-info-label-width;
      }
      .commit-field-value{
        width: calc(100% - #{$selected-commit-info-label-width});
      }
    }
  }
}

#branch-selector{

}