$branchSelectorInputWidth: $columnWidth*3;

#branch-selector{
  padding: 5px;
  @extend .resize-container;

  #branch, button{
    float: left;
    margin-top: 1px;
  }

  #branch{
      display: block;
      background: $dropdownBg;
      color: $dropdownForeground;
      cursor: pointer;
      padding: 0 10px;
      line-height: $rowHeight;
      height: $rowHeight;

      font-size: $theme-font-weight;
      font-weight: $theme-font-weight;
      font-family: $theme-font-family;

      border-radius: $border-radius;
      -webkit-appearance: none;
      -webkit-border-radius: $border-radius;
      width: $branchSelectorInputWidth;
      border: none;
  }

  ul.options {
    @extend .undo-list;

    display: block;
    position: absolute;
    background: $inactiveBackground;
    margin-top: 25px;
    width: $branchSelectorInputWidth;

    li {
      padding: 0 10px;
    }
    li:hover {
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s all;
    }
    li.option-active {
      background: $buttonHoverBg;
    }
  }

}
