#branch-selector{
  padding: 5px;
  @extend .resize-container;

  #branch{
      margin-bottom: 5px;
      display: block;
      background: var(--vscode-settings-dropdownBackground);
      border-color:  var(--vscode-settings-dropdownBorder);
      color: var(--vscode-settings-dropdownForeground);
      cursor: pointer;
      padding: 0 10px;
      line-height: $rowHeight;
      height: $rowHeight;
    
      font-size: $theme-font-weight;
      font-weight: $theme-font-weight;
      font-family: $theme-font-family;
    
      border-radius: $border-radius;
      -webkit-appearance: none;
      -webkit-border-radius: $border-radius;
      
  }

  ul.options {
    display: block;
    list-style: none;
    transition: width 0.3s;
    margin: auto;
    position: relative;
  }
  ul.options li {
    display: flex;
    font-size: 0.8rem;
    width: 100%;
    border-radius: 2px;
  }
  ul.options li:hover {
    font-weight: bold;
    color:var(--vscode-button-hoverBackground);
    cursor: pointer;
    transition: 0.3s all;
  }
  ul.options li.option-active {
    background: var(--vscode-button-hoverBackground);
    font-size: 1;
  }

  #branch, button{
    float: left;
  }
}
