
.branch-details {
    a {
        text-decoration: none;
        outline: 0;
    }
    .row {
        padding: 5px;
    }
    .label {    
        width: 15%;
        display: inline-block;
        vertical-align: top;
    }
    .value {
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }
    .pr-btn {
        margin-top: 15px;
        padding: 5px 20px;
        overflow: hidden;
        border-width: 0;
        font-weight: bold;
        margin-right: 5px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
        background-color: var(--vscode-button-background);
        color: var(--vscode-button-foreground);
        display: inline-block;
    }
}

