#screenshot-diffs-tab{
  > ul{
    @extend .undo-list;
  }
  display: block;
  .file-screenshot-diff-group{
    ul {
      @extend .undo-list;
    }
  }

  .screenshot-diff-item{
    padding: 10px;
    //border: 1px solid $lightBorder;
    h4{
      margin: 0;
      padding-left: 10px;
    }
    margin-bottom: 50px;
  }

  ul.image-comparison{
    @extend .undo-list;
    @extend .resize-container;
    > li {
      width: 33%;
      float: left;
      padding: 10px;
    }
  }
  .file-screenshot-diff-group{

  }
}