.cypressCi {
    margin: 15px;
}
.build-status{
    height: auto;
    padding: 5px;
    border: 1px solid $bgColour;
    margin: 10px auto 0 auto;
    text-align: left;
    background-color: $bgColour ;
  } 