.build-status{
  width: 90%;
  height: auto;
  padding: 5px;
  display: inline-block;
  border: 1px solid $bgColour;
  margin: 5px auto;
  text-align: left;
  background-color: $bgColour ;
  p{
    margin: 0 0 2px 0;
    font-size: 10px;
  }
} 