.branch-details {
    a {
        text-decoration: none;
        outline: 0;
    }
    .row {
        padding: 5px;
    }
    .label {    
        width: $columnWidth;
        display: inline-block;
        vertical-align: top;
    }
    .value {
        width: 70%;
        display: inline-block;
        vertical-align: top;
    }
}

