@import 'select-branch';
@import 'tabs-buttons';
@import 'cypress-ci';
@import 'screenshot-diffs-tab';
@import './icons/chevron';
@import './branch-overview';

.selected-tab-container{
  max-height: calc(100vh - #{$fixedSpaceForTabTop});
  overflow: auto;
  padding: 0 10px;
}